.cover_page_font {
    font-family: "Cute Font", sans-serif;
    font-style: normal;
}

.contact_popup_font {
    font-family: "Dosis", sans-serif;
    font-style:normal;
    font-size: 24px;
    color: #023047;
    text-align: justify;
}


html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2b2d42;
}

dialog {
    background-color: #2b2d42;
}

dialog article header {
    background-color: #84a59d;
}

dialog article {
    background-color: #fdf0d5;
}

.text_wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.what_we_do_list span {
    font-size: 50px;
    justify-content: space-between;
}

.what_we_do_list:hover {
    cursor: context-menu;
}

.what_we_do_list span:nth-child(1) {
    color: #2a9d8f;
    margin-right: 5px;
}
.what_we_do_list span:nth-child(2) {
    color: #e9c46a;
    margin-left: 5px;
    margin-right: 5px;
}
.what_we_do_list span:nth-child(3) {
    color: #f4a261;
    margin-left: 5px;
    margin-right: 5px;
}
.what_we_do_list span:nth-child(4) {
    color: #e76f51;
    margin-left: 5px;
}

.contact_link {
    /* align-self: flex-end; */
    color: #fdf0d5;
    text-decoration: underline;
    font-size: 30px;
}

.contact_link:hover {
    cursor: pointer;
}
